#fcgbf-rep-infos .inside > div {
    margin: 30px 0;
}

.fcgbf-fields {
    display: flex;
    align-items: center;
    gap: 10px;
}
.fcgbf-fields input {
    flex: 1;
}
#fcgbf-rep-branch {
    max-width: 100px;
}
#fcgbf-rep-install {
    margin-left: auto;
}
.fcgbf-infos {
    display: flex;
    gap: 20px;
}
.fcgbf-infos > * {
    width: 50%;
}
.fcgbf-response {
    border: 1px dotted grey;
}