#fcgbf-rep-infos .inside > div {
    margin: 30px 0;
}

.fcgbf-fields {
    display: flex;
    gap: 10px;
}
.fcgbf-fields input {
    flex: 1;
}
#fcgbf-rep-branch {
    max-width: 100px;
}

.fcgbf-updated {
    border:1px dotted red;
}
.fcgbf-current {
    border:1px dotted blue;
}