:root {
    --fcgbf-update-available-color: #16a34a;
}

/* meta decor */
#fcgbf-rep-infos .inside > div {
    margin: 30px 0;
}
.fcgbf-fields {
    display: flex;
    align-items: center;
    gap: 10px;
}
.fcgbf-fields input {
    flex: 1;
}
#fcgbf-rep-branch {
    max-width: 100px;
}
#fcgbf-rep-install {
    margin-left: auto;
}
.fcgbf-infos {
    display: flex;
    gap: 20px;
}
.fcgbf-infos > * {
    width: 50%;
}
.fcgbf-response {
    border: 1px dotted grey;
    padding: 12px;
    overflow-x: auto;
}

/* highlights */
button.fcgbf-update-available {
    border-color: var(--fcgbf-update-available-color) !important;
    color: var(--fcgbf-update-available-color) !important;
}

/* loading */
.fcgbf-loader {
    display: inline-block;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    font-family: monospace;
    animation: fcgbfloaderanimation 1.5s linear infinite;
}
.fcgbf-loader::after {
    content: '......';
}
@keyframes fcgbfloaderanimation {
    0% { max-width: 1ch }
    100% { max-width: 7ch }
}

/* limit post statuses */
/* editor screen */
#minor-publishing {
    display: none;
}